@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

p {
  font-family: "Raleway", serif;
}

ul {
  list-style: square;
}

a {
  color: green;
}

.selfie {
  width: 10%;
  border-radius: 50px;
}

.name {
  color: magenta;
  border: 4px dashed;
  display: inline;
}

.writer {
  width: 30%;
}

.instagram {
  width: 10%;
}

.snapchat {
  width: 12%;
}

/*animations*/

@keyframes color-animation {
  from {
    transform: translate(900px, -100px);
  }
  to {
    transform: translate(900px, -500px);
  }
}

.ball {
  animation-name: color-animation;
  animation-duration: 2s;
  animation-timing-function: easeInBounce;
  animation-delay: 1s;
  animation-iteration-count: 10;
  animation-direction: alternate;
  transform: translate(900px, -100px);
}

.trampoline {
  width: 25%;
  transform: translate(620px, 40px);
}
