body {
  color: red;
  background-color: black;
  text-align: left;
  font-size: large;
}

/*project images*/
.daftlarge {
  width: 82%;
}

.projtrain {
  width: 70%;
}

.snusproj {
  width: 80%;
}

.grateimg {
  display: flex;
  gap: 2em;
}

.grateimg img {
  /*Used chatgpt to keep the proportions*/
  width: 100%;
  max-width: 30%;
  object-fit: cover;
}

.darkguy {
  width: 60%;
}
