@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

p {
  font-family: "Raleway", serif;
}

ul {
  list-style: square;
}

a {
  color: green;
}

.selfie {
  width: 10%;
  border-radius: 50px;
}

.name {
  color: magenta;
  border: 4px dashed;
  display: inline;
}

.writer {
  width: 30%;
}

.instagram {
  width: 10%;
}

.snapchat {
  width: 12%;
}
